

- StoreKit Test
- SKTestFailures
-  SKTestFailures.Verification 

Enumeration

# SKTestFailures.Verification

iOS 17.0+iPadOS 17.0+Mac Catalyst 17.0+macOS 14.0+tvOS 17.0+visionOS 1.0+watchOS 10.0+

``` source
enum Verification
```

## Topics

### Enumeration Cases

case verification(VerificationResult&lt;Any>.VerificationError)

## Relationships

### Conforms To

- Equatable
- SKTestFailure
- Sendable

## See Also

### Enumerations

enum AppStoreSync

enum AppTransaction

enum LoadProducts

enum ManageSubscriptions

enum OfferCodeRedeem

enum Purchase

enum RefundRequest

enum SubscriptionStatus

