

- App Store Connect API
- CiBuildAction
- CiBuildAction.Relationships
-  CiBuildAction.Relationships.TestResults 

Object

# CiBuildAction.Relationships.TestResults

App Store Connect API 3.6+

``` source
object CiBuildAction.Relationships.TestResults
```

## Properties

`links`

RelationshipLinks

