

- Audio Toolbox
-  kAudioComponentConfigurationInfo_ValidationResult 

Global Variable

# kAudioComponentConfigurationInfo_ValidationResult

iOSiPadOSMac CatalystmacOStvOSvisionOS

``` source
var kAudioComponentConfigurationInfo_ValidationResult: String { get }
```

## See Also

### Constants

let kAudioComponentInstanceInvalidationNotification: CFString

let kAudioComponentRegistrationsChangedNotification: CFString

var kAudioComponentValidationParameter_ForceValidation: String

var kAudioComponentValidationParameter_TimeOut: String

